<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>海书面板</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/head.css')}}>
</head>
<body>
    <nav>
        <a href="#">概述</a>
        <div class="close">
            <a href="/logout">退出登录</a>
            <a href="/server/reboot">重启</a>
            <a href="/server/shutdown">关机</a>
        </div>
    </nav>
</body>
</html>