<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>网站丨海书面板</title>
    <link rel="icon" type="resource/image/png" href={{url_for('static', filename='resource/image/logo.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/head.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/card.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/website.css')}}>
</head>
<body>
    {% include 'sidebar.html' %}
    <nav>
        <button id="create_website">添加</button>
    </nav>
    <div class="create_form" id="create_form">
        {% include 'website/create.html' %}
    </div>
    <div class="card">
        <h2>网站</h2>
        <table border="1" width="100%">
            <tr>
              <td>ID</td>
              <td>名称</td>
              <td>类型</td>
              <td>端口</td>
              <td>目录</td>
              <td>操作</td>
            </tr>
            {% for key, value in websites.items() %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value.name }}</td>
              <td>{{ value.type }}</td>
              <td>{{ value.port }}</td>
              <td>{{ value.dir }}</td>
              <td><a href="./start/{{ key }}">启动</a> <a href="./delete/{{ key }}">删除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>