<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>商店丨海书面板</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="resource/image/png" href={{url_for('static', filename='resource/image/logo.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/head.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/card.css')}}>
    <style>
    .card .card2 {
        display: inline-block
    }
    </style>
</head>
<body>
    {% include 'sidebar.html' %}
    <nav>
        <a href="./">应用</a>
        <a href="./theme">主题</a>
        <a>请注意：修改主题请输入识别ID。</a>
    </nav>
    <div class="card">
        <h2>主题</h2>
        {% for item in theme_list %}
        <div class="card2">
            <div class="card">
                <h2>{{ item["name"] }}</h2>
                ID：{{ item["id"] }}<br>
                简介：{{ item["description"] }}<br>
                版本：{{ item["version"] }}<br>
                网站：<a href="{{ item["website"] }}">{{ item["website"] }}</a><br>
                <a href="./install/theme/{{ item["id"] }}/{{ item['download'] }}">安装</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>