<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>设置丨海书面板</title>
    <link rel="icon" type="resource/image/png" href={{url_for('static', filename='resource/image/logo.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/head.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/card.css')}}>
</head>
<body>
    {% include 'sidebar.html' %}
    <nav>
        <button id="create_website">添加</button>
    </nav>

    <div class="card">
        <h2>设置</h2>
        还没有开发完，先去别的地方看看！
    </div>

</body>
</html>