<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>设置丨海书面板</title>
    <link rel="icon" type="resource/image/png" href={{url_for('static', filename='resource/image/logo.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/head.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/card.css')}}>
</head>
<body>
    {% include 'sidebar.html' %}
    <nav>
        <button onclick="window.location.href='./'" id="">基本设置</button>
    </nav>

    <div class="card">
        <h2>基本设置</h2>
        <form action="/account/change_verify" method="post">
            密码：<input type="text" name="password">
            <input type="submit" value="提交">
        </form>
    </div>

</body>
</html>