<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>设置丨海书面板</title>
    <link rel="icon" type="resource/image/png" href={{url_for('static', filename='resource/image/logo.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/head.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/card.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/form.css')}}>
</head>
<body>
    {% include 'sidebar.html' %}
    <nav>
        <button onclick="window.location.href='./'" id="">基础</button>
        <button onclick="window.location.href='./appearance'" id="">外观</button>
        <button onclick="window.location.href='./security'" id="">安全</button>
    </nav>

    <div class="card">
        <h2>安全</h2>
        <form action="./change/panel" method="post">
            <label for="port">端口：</label>
            <input type="text" id="port" name="port">
            <label for="url">地址：</label>
            <input type="url" id="url" name="url">
            <button type="submit">保存</button>
        </form>
    </div>

</body>
</html>