body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #E5EFFD;
}

.card {
    margin: auto;
    width: 50%;
    padding: 70px 0;
    text-align: center;
}

input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .6em 1.2em;
    margin-bottom:10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color .25s;
    border-style: solid;
    border-color:#646cff;
}

input:hover {
    border-color: #646cff
}

input:focus,
input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #fff
    }
    a:hover {
        color: #747bff
    }
    input {
        background-color: #f9f9f9
    }
}