<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <link rel="stylesheet" href={{url_for('static', filename='style/home.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='style/head.css')}}>
</head>
<body>
    <nav>
        <img src={{url_for('static', filename='image/logo.png')}} alt="LOGO" height="40"></img>
        <a href="#">概述</a>
        <div class="close">
            <a href="#">重启</a>
            <a href="#">关机</a>
        </div>
    </nav>
    <h1>欢迎使用海书面板！</h1>
</body>
</html>