<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录丨海书面板</title>
    <link rel="stylesheet" href={{url_for('static', filename='resource/style/' ~ appearance['theme'] ~ '/login.css')}}>
</head>
<body>
    <div class="card">
        <img src={{url_for('static', filename='resource/image/logo-long.png')}} alt="LOGO"></img>
        <form action="/account/login" method="post">
            用户名：<input type="username" name="username"/><br>
            密码：<input type="password" name="password"/><br>
            <input type="submit" value="登录">
        </form>
        <h3>你知道吗</h3>
        <p>
            当你忘记密码时，可以前往后台的config.toml修改密码。
            修改方法：
            将config.toml中的内容替换成下列信息：
            <pre>
                [account]
                username = "admin"
                password = "123456"
                password_hash = "False"
            </pre>
        </p>
    </div>
</body>
</html>